.navbar{
    background-image: linear-gradient(rgb(179, 138, 48), rgb(12, 140, 34));
}
.navbar-header h1 a{
    font-size:45px;
    padding:1rem;}
.navbar-nav {
    display:flex;
    flex-direction:row !important;
    }
.navbar-nav li a{
    font-size:1.5rem;
    margin:1rem;
    text-decoration: none;
    color:rgb(236, 223, 147);
    font-variant: small-caps;
    font-weight: 450;
}
.navbar-nav li a:hover{
    font-size:1.3rem;
    margin:1rem;
    text-decoration: none;
    color:rgb(128, 106, 139);
    font-variant: small-caps;
    font-weight: 400;
}
.lighter{
    color:rgb(80, 54, 98);
    font-style: italic;
    font-variant: small-caps;
}